.contacto-container {
  background-color: #f9f9f9; /* Fondo gris claro */
}

.card {
  border-radius: 10px; /* Bordes redondeados */
}

.card-body {
  padding: 2rem;
}

.card-title {
  font-size: 1.5rem;
  color: #333;
}

.card-text {
  font-size: 1.2rem;
  color: #555;
}

.img-fluid {
  max-width: 150px; /* Tamaño ajustado de la imagen del administrador */
  height: auto;
  
  border-radius: 50%; /* Asegura que la imagen sea completamente redonda */
  margin-top: 20px;
  margin-bottom: 20px;
}

.btn-success {
  padding: 12px 25px;
  font-size: 1.1rem;
  background-color: #25d366; /* Color verde característico de WhatsApp */
}

.btn-success:hover {
  background-color: #128c7e; /* Hover color */
}
