/* Navbar - Estilos generales */
.navbar {
  background-color: #333; /* Fondo oscuro */
  padding: 1rem;
}

.navbar-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%; /* Asegura que ocupe todo el ancho disponible */
}

.navbar-nav {
  list-style: none;  /* Elimina los puntos de la lista */
  display: flex;  /* Esto asegura que los elementos estén alineados horizontalmente */
  margin: 0;  /* Elimina los márgenes por defecto */
  padding: 0;  /* Elimina el padding por defecto */
}

.nav-item {
  margin-left: 1rem; /* Espaciado entre los elementos */
}

.nav-link {
  color: white;
  text-decoration: none;
  font-size: 1rem;
  transition: color 0.3s;
  padding: 5px 10px;  /* Opcional, si quieres que los links tengan un poco de padding */
}

.nav-link:hover {
  color: #00bcd4; /* Cambia el color al pasar el mouse */
}
